%section#home.container
  .row
    .centered-three.comingsoon
      %img{src: "#{image_path 'image.svg'}"}
      %p= t('home.stay')
      .social
        %a.facebook{href: 'http://www.facebook.com/magmaconf', target: '_blank'}
          %i.icon-facebook
        %a.twitter{href: 'http://twitter.com/magmaconf', target: '_blank'}
          %i.icon-twitter
        %a.google{href: 'https://plus.google.com/108479926406306482358/posts', target: '_blank'}
          %i.icon-google
      %a.arrow{href: "#"}
        %i.icon-arrow

    .centered-four.sponsors
      .spons
        %a{href: "#"}
          %img{src: "#{image_path 'logo-github.svg'}"}
      .spons
        %a{href: "#"}
          %img{src: "#{image_path 'logo-crowd.svg'}"}
      .spons
        %a{href: "#"}
          %img{src: "#{image_path 'logo-rubycentral.svg'}"}

%section#daily
  %p
    Voy a poner algo aqui para ver si funcionan
    %br
    para que pueda funcionar
    %br
    como lo tengo pensado,

  .lens
    %img#img_01{src: "#{image_path 'natura.jpg'}", width: "384", height: "240"}
