%section#home.container
  .centered-three.comingsoon
    image here
    %h1
      %span= t('home.everything')
      %span= t('home.getting')
      %span= t('home.interesting')
    %p= t('home.stay')
    .social
      %span.facebook
      %span.twitter
      %span.google
    .logo
  .centered-five.sponsors


%section#daily
  %p
    Voy a poner algo aqui para ver si funcionan
    %br
    para que pueda funcionar
    %br
    como lo tengo pensado,
.lens
  %img{src: "#{image_path 'natura.jpg'}"}
