!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0 maximum-scale=1.0'}
    %title= t('title')
    %meta{name: "author", content: "Crowd Interactive - http://crowdint.com"}
    %meta{content: 'Get ready for MagmaConf 2014', property: 'og:title'}
    %meta{content: 'http://www.magmaconf.com', property: 'og:url'}
    %meta{content: 'MagmaConf is an annual Web Development Conference happening June 4, 5 & 6 2014 in the coastline city Manzanillo, Colima, Mexico', property: 'og:description'}
    %meta{content: 'MagmaConf is an annual Web Development Conference happening June 4, 5 & 6 2014 in the coastline city Manzanillo, Colima, Mexico.', name: 'description'}
    %meta{name: "keywords", content: "magmaconf, rails, ruby, UI, UX, web development, frontend, manzanillo, conference, 2014, june, junio, github, sinatra, design, conferencia, tecnologia"}
    %link{rel: 'stylesheet', href: "http://fonts.googleapis.com/css?family=Oswald:400,300,700"}
    %link{rel: 'stylesheet', href: "#{stylesheet_path 'application'}" }
    %link{rel: "shortcut icon", type: "image/vnd.microsoft.icon", href: "#{image_path 'favicon.ico'}"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22515126-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body

    = yield

    %script{type: "text/javascript", charset: "utf-8", src: "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{type: "text/javascript", src: "vendor/javascripts/jquery-imageLens.js"}
    %script{type: "text/javascript", src: "vendor/javascripts/parallax-scroll.js"}
    %script{type: "text/javascript", src: "vendor/javascripts/scroll.js"}
    %script{src: "#{javascript_path 'application'}"}
